<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2022 bytedance
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  ~ Create Date : 2022/9/13
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.volc.voddemo.impl">

    <application>
        <activity
            android:name="com.bytedance.volc.voddemo.ui.minidrama.scene.detail.DramaDetailVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.minidrama.scene.main.DramaMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.main.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.video.scene.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.settings.SettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.sample.SampleVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.sample.SampleShortVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.sample.SampleFeedVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.sample.SampleSourceActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
    </application>

</manifest>