<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytedance.volc.voddemo.impl">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>

        <service android:name="com.bytedance.volc.voddemo.ui.audio.service.AudioService" />

        <activity
            android:name="com.bytedance.volc.voddemo.ui.main.MainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.video.scene.VideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.settings.SettingsActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />
        <activity
            android:name="com.bytedance.volc.voddemo.ui.sample.SimpleVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme" />

        <activity
            android:name="com.bytedance.volc.voddemo.ui.audio.SampleAudioActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/VEVodAppTheme"/>
    </application>

</manifest>